{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<body class="body">
	
{% include 'include/header.html' %}
	<!-- page title -->
<section class="section section--first section--bg" data-bg="{{setting.bg.url}}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h1 class="section__title">Результаты поиска</h1>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="{% url 'index' %}">Главная</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Поиск</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->
{% comment %} 
<!-- filter -->
<div class="filter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="{%url 'search'%}">
				<div class="filter__content">
					<div class="filter__items">
						<!-- filter item -->
						<div class="filter__item" id="filter__genre">
							<span class="filter__item-label">Жанр:</span>

							<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Фантастика">
								<input type="hidden" name='genre' value="Фантастика">
								<span></span>
							</div>

							<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
								{%for genr in genres%}
									<li>{{genr.name}}</li>
								{%endfor%}

							</ul>
						</div>
						<!-- end filter item -->
						<!-- filter item -->
						<div class="filter__item" id="filter__rate">
							<span class="filter__item-label">Рейтинг:</span>

							<div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="hidden" name="reviews_start" id="reviews_start">
								<input type="hidden" name="reviews_end" id="reviews_end">
								<div class="filter__range">
									<div id="filter__imbd-start"></div>
									<div id="filter__imbd-end"></div>
								</div>
								<span></span>
							</div>

							<div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-rate">
								<div id="filter__imbd"></div>
							</div>
						</div>
						<!-- end filter item -->

						<!-- filter item -->
						<div class="filter__item" id="filter__year">
							<span class="filter__item-label">ГОД ВЫПУСКА:</span>

							<div class="filter__item-btn dropdown-toggle" role="button" id="filter-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="hidden" name="release_year" id="release_year">
								<input type="hidden" name="release_year2" id="release_year2">
								<div class="filter__range">
									<div id="filter__years-start"></div>
									<div id="filter__years-end"></div>
								</div>
								<span></span>
							</div>

							<div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-year">
								<div id="filter__years"></div>
							</div>
						</div>
						<!-- end filter item -->
					</div>
					
					<!-- filter btn -->
					<button class="filter__btn" type="submit">применить фильтры</button>
					<!-- end filter btn -->
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
<!-- end filter --> {% endcomment %}

	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row row--grid">
				{% for film in movie %}
				<!-- card -->
				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				  <div class="card">
					<div class="card__cover">
					  <img style = 'width:240px;' src="{{film.poster.url}}" alt="">
					  <a href="{% url 'movie_detail' film.id%}" class="card__play">
						<i class="icon ion-ios-play"></i>
					  </a>
					  <span class="card__rate card__rate--green">{{film.rating}}</span>
					</div>
					<div class="card__content">
					  <h3 class="card__title"><a href="{% url 'movie_detail' film.id%}">{{film.title}}</a></h3>
					<span class="card__category">
					  <a href="#">{{film.genres}}</a>
					</span>
					<span class="card__category">
					  <a href="#">{{film.country}}</a>
					</span>
					</div>
				  </div>
				</div>
				<!-- end card -->
			  </div>
			  {% endfor %}
			  </div>
			  </div>
		</div>
	</div>
	<!-- end catalog -->
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- section -->
	<section class="section section--border">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-10">
					<h2 class="section__title section__title--mb"><b>{{setting.title}}</b>{{setting.litle_title}}</h2>

					<p class="section__text">{{setting.description}}</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<a href="#" class="footer__logo">
							<img src="{{setting.logo.url}}" alt="">
						</a>

						<span class="footer__copyright">© Broadway, 2023—2028 <br> Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Dmitry Volkov</a></span>

						<nav class="footer__nav">
							<a href="{% url 'about' %}">О Broadway</a>
							<a href="{% url 'contacts' %}">Контакты</a>
							<a href="{% url 'privacy' %}">Политика конфиденциальности</a>
						</nav>

						<button class="footer__back" type="button">
							<i class="icon ion-ios-arrow-round-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	{% endblock %}
