{% extends 'homepage.html' %}
{% load static %}
{% block content %}

	<div class="sign section--bg" data-bg="{{setting.bg.url}}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form method='POST' class="sign__form">
						{% csrf_token %}
							<a href="{% url 'index' %}" class="sign__logo">
						        <h1 class="sign__text">Восстановить пароль </h1>
								<img src="{{setting.logo.url}}" alt="">
							</a>

							<div class="sign__group">
								<input type="password" name = "code" class="sign__input" placeholder="Введите код">
							</div>

                            <div class="sign__group">
								<input type="password" name = "password" class="sign__input" placeholder="Создайте пароль">
							</div>

                            <div class="sign__group">
								<input type="password" name = "confirm_password" class="sign__input" placeholder="Подтвердите пароль">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Я согласен c<a href="{% url 'privacy' %}">Политикой конфиденциальности</a></label>
							</div>
							
							<button class="sign__btn" type="submit">Отправить</button>
                            
						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
